requests
beautifulsoup4
spacy
telegram
InlineQueryResultArticle,
InputTextMessageContent
Update
telegram.ext
Application
CommandHandler
InlineQueryHandler 
MessageHandler 
filters
ConversationHandler
CallbackContext
logging
random
python-telegram-bot
